/* Write your CSS here */
* {
  padding: 0;
  margin: 0;
}
.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  text-align: center;
  color: black;
  font-size: 36px;
  margin-top: 20px;
  margin-bottom: 20px;
}
input {
  border-radius: 6px;
  height: 40px;
  background-color: #f1f5f9;
  border: 1px solid yellow;
  padding-left: 10px;
  width: 270px;
  cursor: pointer;
}
ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 30px;
}
